# Server
PORT=5000
NODE_ENV=development

# MongoDB
MONGODB_URI=mongodb://localhost:27017/electrical-shop

# JWT
JWT_SECRET=your_super_secret_jwt_key_change_this_in_production

# Razorpay
RAZORPAY_KEY_ID=your_razorpay_key_id
RAZORPAY_KEY_SECRET=your_razorpay_key_secret

# SMTP (optional)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=ashwinj.23it@kongu.edu
SMTP_PASS=bjzw gwpl evpv unhr

# Google Sign-In
GOOGLE_CLIENT_ID=your_google_client_id
